
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Régression multiple</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Market Research Team</a>
            </div>



            <footer id="footer">
                <p><a href="https://www.ooredoo.dz/" target="_blank"><img alt="Powered by Ooredoo" src="/static/img/ooredoo.ico"></a></p>
    </footer>

                  <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/model2/interpretation"><i class="fa fa-dashboard fa-fw"></i>Interprétation </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Performance <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="matriceConfusion.html">Matrice de confusion</a>
                                </li>
                                <li>
                                    <a href="/model2/classificationReport">Rapport de classification</a>
                                </li>
                                 <li>
                                    <a href="validationCroise.html">Validation croisée</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="/model2/nouvelleRegression"><i class="fa fa-bar-chart-o fa-fw"></i>Appliquer une nouvelle prédiction </a>
                        </li>

                            </ul>
                          </div>
                <!-- /.sidebar-collapse -->
            </div>
          <!-- /.navbar-static-side -->
   </nav>
 </div>





    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Le modèle revenu par région </h1>
                    <div class="pull-right">
                        <form   style="display:inline-block" >
   <button    style="float:inherit" class="btn btn-danger btn-circle btn-xl"><i class="fa  fa-save  "></i>
   </button> </form>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
     <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Les modèls appropriés à votre prédiction :
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Multiple Regression</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Régression linéaire multiple :
                                            <p ><h5 style="color: red ;">Sommaire des résultats = </h5></p>
                                              <p>{{summary|safe}}</p>
                                            <p ><h5 style="color: red ;">les paramètres de la regression = </h5></p>
                                              <p>{{ params}}</p>
                                            <p style="color: red ;">intervalle de confiance à 95%  = </p>
                                              <p>{{ int_confiance}}</p>
                                            <p style="color: red ;">la signification des paramètres  = </p>
                                                 <p >{{ param_significance}}</p>
                                            <p style="color: red ;">l'erreur (squad error)   = </p>
                                                 <p >{{squad}}</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
 </div>


 <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>



</body>
</html>

