<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>créer etude</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Market Research Team</a>
            </div>



            <footer id="footer">
                <p><a href="https://www.ooredoo.dz/" target="_blank"><img alt="Powered by Ooredoo" src="/static/img/ooredoo.ico"></a></p>
    </footer>
   </nav>
 </div>

    <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
 <form action="./postEtude" method="post" role="form">

    <div class="form-group">
        <label  class="control-label" for="inputError">Nom etude :</label>

        <input  data-fv-notempty data-fv-notempty-message="l'étude is required" data-toggle="validator" style="width:500px;" class="form-control"   placeholder="Entrer le nom de l'étude " id="inputError" name="nomEtude" type="text" />
    </div>

     <div class="form-group">
        <label>Type etude :</label>
         <select  style="width: 500px;" class="form-control"  placeholder="Entrer le type de l'étude "id="type" name="type" >
                                                <option value="omnibus">Omnibus</option>
                                                <option value="adhoc">Adhoc</option>
         </select>
    </div>

     <div class="form-group">
        <label>Description :</label>
        <input style="width: 500px;"class="form-control"   placeholder="Entrer la description de l'étude " id="description" name="description" type="text"/>
    </div>

     <div class="form-group">
        <label class="control-label" for="inputError">Duree :</label>
        <input style="width: 500px ;" class="form-control"  placeholder="Entrer la durée de l'étude "  id="inputError" name="duree" type="number">
    </div>

     <div class="form-group">
        <label>Periode</label>
        <input style="width:500px;"class="form-control" placeholder="Entrer la période de l'étude "  id="periode" name="periode" type="date"/>
    </div>
     <button type="submit" class="btn btn-default">Ajouter Etude</button>

</form>

                                </div>
                            </div>
    </div>

</body>
</html>
















