<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- Bootstrap Core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Market Research Team</a>
            </div>



            <footer id="footer">
                <p><a href="https://www.ooredoo.dz/" target="_blank"><img alt="Powered by Ooredoo" src="/static/img/ooredoo.ico"></a></p>
     <div class="pull-right">
                    <form   style="display:inline-block" action="{{ url_for('user.logout')}}">
   <button  type="submit"  style="float:inherit" class="btn btn-danger btn-circle"><i class="fa fa-power-off"></i>
   </button> </form> </div>

    </footer>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/afficherUtilisateurs"><i class="fa fa-users fa-fw"></i> Gestion des Utilisateurs </a>
                        </li>
                        <li>
                            <a href="/etude/index"><i class="fa fa-dashboard fa-fw"></i>Gestion des Etudes </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Model Preprocessing (prétraitement ) <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/model/AfficherData/">Afficher Fichier </a>
                                </li>
                                <li>
                                    <a href="/model/visualiserSummary/"> <i class="fa fa-eye fa-fw"></i>Visualiser Fichier (Summary) </a>
                                </li>
                                 <li>
                                    <a href="/model/Chart?"><i class="fa fa-bar-chart-o fa-fw"></i>Visualiser Fichier Graphes</a>
                                </li>
                                 <li>
                                    <a href="/model/fillup"><i class="fa fa-filter fa-fw"></i>Remplir valeurs manquantes</a>
                                </li>
                                <li>
                                    <a href="validationCroise.html"><i class="fa fa-filter fa-fw"></i>détécter valeurs abberantes</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> Model Processing (traitement ) <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="matriceConfusion.html"> <i class="fa fa-eye fa-fw"></i>Selectionner Variables</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="courbes.html"><i class="fa fa-bar-chart-o fa-fw"></i> Sauvegarder Model</a>
                        </li>

                            </ul>
                          </div>
                <!-- /.sidebar-collapse -->
            </div>
          <!-- /.navbar-static-side -->
   </nav>
 </div>

 <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
  <h1 class="page-header">Les études de marché</h1>
                </div>
                  <div class="panel-body">
<form  action="{{ url_for('etude_blueprint.rechercherEtude')}}" method="post">
                            <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" style="height: 25px" class="form-control" placeholder="Rechercher Etude..." name="nomEtude">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li></form>

                        </div>
                        <!-- /.panel-heading -->

                            <div  style="float:left" class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>nom de l'étude</th>
                                            <th>type</th>
                                            <th>période</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                      {%for etude in myEtude%}
 <tr>
                                 <td><a href="/etudes/{{ etude.id }}">{{ etude.id }}</a>
                                          <td>{{ etude.nomEtude }}</td>
                                          <td>{{ etude.type }}</td>
                                          <td>{{ etude.periode }}</td>
                                          <td><form method="post" action="{{ url_for('etude_blueprint.supprimerEtude',id=etude.id)}}">
                                              <button type="submit"   style="float: inherit"class="btn btn-danger btn-circle"><i class="fa fa-times"></i>
                                              </button> </form></td>
                                          <td>
                                              <form  action="{{ url_for('etude_blueprint.editEtude', id=etude.id)}}">
                                              <button  type="submit"   style="float: inherit"class="btn btn-primary btn-circle"><i class="fa fa-edit"></i>
                                              </button></form></td>
 </tr>
                                      {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div>
                </div>
</div>


    <form  action="{{ url_for('etude_blueprint.creerEtude')}}">
   <button  type="submit"  style="float: right" class="btn btn-danger btn-circle btn-lg"><i class="fa glyphicon-plus"></i>
   </button> </form>




<div>

</div>


<div>
</div>

<div>


</div>
                </div>
                </div>
    </div>


 <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="static/vendor/raphael/raphael.min.js"></script>
    <script src="static/vendor/morrisjs/morris.min.js"></script>
    <script src="static/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/sb-admin-2.js"></script>

 <script src="/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/static/vendor/raphael/raphael.min.js"></script>
    <script src="/static/vendor/morrisjs/morris.min.js"></script>
    <script src="/static/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>


</body>
</html>


